{% extends 'base.html' %}

{% block content %}
    <h3>Duplicate Files</h3>
    <div class="container">
        <div class="row">
            <div class="col">
                <br>
                <ul class="list-group">
                {% for result in duplicate_results %}
                    <li class="list-group-item" style="word-break: break-all;">
                        {{ result }}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
