{% extends 'base.html' %}

{% block content %}
    <br>
    {% for dict_item in metadatas %}
        {% for key, value in dict_item.items() %}
            {% if key == "relative_path" %}
                <div style="text-align:center;">
                    <a href="/favorite?downvote={{ id }}">
                        <button class="btn btn-danger"><iconify-icon icon="material-symbols:keyboard-arrow-left"></iconify-icon>Downvote</button>
                    </a>
                    <a href="/favorite">
                        <button class="btn btn-info"><iconify-icon icon="material-symbols:keyboard-arrow-up"></iconify-icon> Random <iconify-icon icon="material-symbols:keyboard-arrow-up"></iconify-icon></button>
                    </a>
                    <a href="/favorite?upvote={{ id }}">
                        <button class="btn btn-success">Upvote<iconify-icon icon="material-symbols:keyboard-arrow-right"></iconify-icon></button>
                    </a>
                </div>
                <div class="imgbox" id="imgbox">
                    {% if value.endswith('.gif') or value.endswith('.png') or value.endswith('.jpg') %}
                        <img class="center-fit" alt="{{ value }}" src="{{ value }}" onclick="this.requestFullscreen()">
                    {% else %}
                        <video class="center-fit" autoplay loop>
                            {% if value.endswith('.mp4') %}
                                <source src="{{ value }}" type="video/mp4">
                            {% else %}
                                <source src="{{ value }}" type="video/webm">
                            {% endif %}
                            Your browser does not support the video tag.
                        </video> 
                    {% endif %}
                </div>
            {% endif %}
            {% if key == "favoritecount" %}
                <div style="text-align:center;"><iconify-icon style="color:red;" icon="material-symbols:favorite"></iconify-icon>Favorite Votes: <strong>{{ value }}</strong></div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    <script>
        var myElement = document.getElementById('imgbox');
        var mc = new Hammer(myElement);
        mc.get('swipe').set({ direction: Hammer.DIRECTION_ALL });
    
        mc.on("swipeleft swiperight swipeup", function(ev) {
            if (ev.type == "swipeleft") {
                window.location.href = "/favorite?downvote={{ id }}";
            } else if (ev.type == "swiperight") {
                window.location.href = "/favorite?upvote={{ id }}";
            } else if (ev.type == "swipeup") {
                window.location.href = "/favorite";
            }
        });
    </script>
    {% if exif != None %}
        <div style="text-align:center;">
            <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInfo" aria-expanded="false" aria-controls="collapseInfo">
                Info
            </button>
            <div class="collapse" id="collapseInfo">
            <div class="card card-body">
                {% for key, value in exif.items() %}
                    <p>{{ key }}: <strong>{{ value }}</strong></p>
                {% endfor %}
            </div>
            </div>
        </div>
    {% endif %}
{% endblock %}